@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF1654;
  --background-color: #FFF5F7;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}