.hero-section {
  min-height: 100vh;
  background-image: url('../../assets/images/uterus.webp');
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}

.hero-title {
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero-text {
  color: var(--text-gray);
  max-width: 42rem;
  line-height: 1.75;
}